<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=nepal&shade=500" alt="Your Company">
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Resend confirmation instructions</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'space-y-6' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div>
          <%= f.label :email, class: 'block text-sm font-medium leading-6 text-gray-900' %>

          <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-nepal-500 sm:text-sm sm:leading-6' %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: 'flex cursor-pointer w-full justify-center rounded-md bg-nepal-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-nepal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-nepal-500' %>
        </div>
      <% end %>

      <p class="flex flex-col mt-10 text-center text-sm text-gray-500">
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-semibold leading-6 text-nepal-500 hover:text-nepal-500" %>
        <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "font-semibold leading-6 text-nepal-500 hover:text-nepal-500" %>
      </p>
    </div>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <%= link_to "Sign up", new_user_registration_path, class: "font-semibold leading-6 text-nepal-500 hover:text-nepal-500" %>
    </p>
  </div>
</div>
