<div id="<%= dom_id invoice %>">
  <%= render HeadingComponent.new(
    title: invoice.invoice_number,
    text: invoice.client_name,
  ) %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inovice Number:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client Name</strong>
    <%= invoice.client_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Issue Date</strong>
    <%= invoice.issue_date.strftime("%d/%m/%Y") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Due Date</strong>
    <%= invoice.due_date.strftime("%d/%m/%Y") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client Address</strong>
    <%= invoice.client_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company Address</strong>
    <%= invoice.company_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes</strong>
    <%= invoice.notes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount</strong>
    <%= number_to_currency(invoice.amount, unit: "£") %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this invoice", company_team_project_invoice_path(@company, @team, @project, invoice), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this project", edit_company_team_project_invoice_path(@company, @team, @project, invoice), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
