<div class="nested-form-wrapper">
  <div data-controller="item-selector">
    <div class="my-5">
      <%= f.label :item_id %>
      <%= f.collection_select :item_id, @items, :id, :name, { prompt: "Select an item" }, %>
      <%# f.collection_select(:item_id, @items, :id, :name, { prompt: "Select an item" }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full appearance-none dark:text-white dark:border-black dark:bg-slate-600", data: { item_selector_target: "itemId" } }) %>
    </div>

    <div class="my-5">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-white dark:border-black dark:bg-slate-600", value: 1, min: 1 %>
    </div>

    <div class="my-5">
      <h3>Description</h3>
      <div data-item-selector-target="description"></div>
    </div>

    <div class="my-5">
      <h3>Unit price</h3>
      <div data-item-selector-target="unitPrice"></div>
    </div>

    <%= f.hidden_field :company_id, value: @company.id, data: { item_selector_target: "companyId" } %>
  </div>

  <div class="my-5">
    <button type="button" data-action="nested-form#remove">Remove item</button>
    <%= f.hidden_field :_destroy %>
  </div>
</div>
