<%= form_with(model: @task, class: "contents") do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="my-5">
      <%= f.label :name %>
      <%= f.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-white dark:border-black dark:bg-slate-600" %>
    </div>

    <div class="my-5">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-white dark:border-black dark:bg-slate-600" %>
    </div>

    <div class="my-5">
      <%= f.label :due_date %>
      <%= f.date_field :due_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-white dark:border-black dark:bg-slate-600" %>
    </div>

    <div class="my-5">
      <%= f.label :status %>
    <div class="flex items-center space-x-3">
      <%= f.select :status, options_for_select(['pending', 'in_progress', 'complete'], 'pending'), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/2" %>
    </div>

    <div class="my-5">
      <%= f.label :assigned_to_id %>
      <%= f.collection_select :assigned_to_id, User.order(:full_name), :id, :full_name, { prompt: true }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full appearance-none dark:text-white dark:border-black dark:bg-slate-600" } %>
    </div>

    <div class="my-5">
      <%= f.label :reporter_id %>
      <%= f.collection_select :reporter_id, User.order(:full_name), :id, :full_name, { prompt: true, selected: current_user.id }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full appearance-none dark:text-white dark:border-black dark:bg-slate-600" } %>
    </div>

    <div class="my-5">
      <%= f.label :project_id %>
      <%= f.collection_select :project_id, Project.order(:title), :id, :title, { prompt: true, multiple: true }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full appearance-none dark:text-white dark:border-black dark:bg-slate-600" } %>
    </div>

     <div class="my-5">
      <%= f.label :team_id %>
      <%= f.collection_select :team_id, Team.order(:name), :id, :name, { prompt: true, multiple: true }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full appearance-none dark:text-white dark:border-black dark:bg-slate-600" } %>
    </div>
  
  <div class="inline">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
