<%= render HeadingComponent.new(
  title: "Tasks",
  text: "A list of the tasks in your account including its name, description, status.",
  link_title: "New Task",
  link_path: new_task_path
) %>

<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-200 dark:divide-slate-700 table-auto">
        <thead>
          <tr>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Name</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Description</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Due Date</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Project</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Status</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Reporter</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Assigned To</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Team</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Created At</th>
            <th scope="col" class="bg-gray-100 p-3 dark:bg-slate-900 dark:text-white text-gray-900 lg:table-cell">Updated At</th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
            <tr class="even:bg-gray-100 dark:even:bg-slate-900">
              <td class="whitespace-nowrap px-3 py-5 text-sm">
                <div class="text-gray-900 dark:text-white text-center hover:underline"><%= link_to task.name, task %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm">
                <div class="text-gray-900 dark:text-white text-center"><%= task.description %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                <div class="text-gray-900 dark:text-white text-center"><%= task.due_date.strftime("%d/%m/%Y %H:%M") %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                <div class="text-gray-900 dark:text-white text-center"><%= task.project.title %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm">
                <div class="text-gray-900 dark:text-white text-center"><%= task.status %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm">
                <div class="text-gray-900 dark:text-white text-center"><%= task.reporter.full_name %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm">
                <div class="text-gray-900 dark:text-white text-center"><%= task.assigned_to.full_name %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm">
                <div class="text-gray-900 dark:text-white text-center"><%= task.team.name %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                <div class="text-gray-900 dark:text-white text-center"><%= task.created_at.strftime("%d/%m/%Y %H:%M") %></div>
              </td>

              <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                <div class="text-gray-900 dark:text-white text-center"><%= task.updated_at.strftime("%d/%m/%Y %H:%M") %></div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
