<%= form_with(model: [@company, @team, @project, @task, sub_task], class: "contents") do |f| %>
  <% if sub_task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(sub_task.errors.count, "error") %> prohibited this sub task from being saved:</h2>

      <ul>
        <% sub_task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= f.label :name %>
    <%= f.text_field :name, class: "block rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full dark:bg-indigo-900" %>
  </div>

  <div class="my-5">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 4, class: "block rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full dark:bg-indigo-900" %>
  </div>

  <div class="my-5">
    <%= f.label :due_date %>
    <%= f.date_field :due_date, class: "block rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full dark:bg-indigo-900" %>
  </div>

  <div class="my-5">
    <%= f.label :status %>
  <div class="flex items-center space-x-3">
    <%= f.select :status, options_for_select(['pending', 'in_progress', 'complete'], 'pending'), class: "block rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-1/2 dark:bg-indigo-900" %>
  </div>

  <div class="my-5">
    <%= f.label :assigned_to_id %>
    <%= f.collection_select :assigned_to_id, User.order(:full_name), :id, :full_name, { prompt: true }, { class: "block rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full appearance-none dark:bg-indigo-900" } %>
  </div>

  <div class="my-5">
    <%= f.label :reporter_id %>
    <%= f.collection_select :reporter_id, User.order(:full_name), :id, :full_name, { prompt: true, selected: current_user.id }, { class: "block rounded-md border border-neutral-200 outline-none px-3 py-2 mt-2 w-full appearance-none dark:bg-indigo-900" } %>
  </div>

  <%= f.hidden_field :task_id, value: @task.id %>
  <%= f.hidden_field :project_id, value: @project.id %>
  <%= f.hidden_field :team_id, value: @team.id %>

  <div class="inline">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer dark:bg-indigo-900 cursor-pointer" %>
  </div>
<% end %>
