<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= company.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= company.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Logo:</strong>
    <% if company.logo.attached? %>
      <%= image_tag url_for(company.logo), class: "logo-image" %>
    <% else %>
      <span>No logo available</span>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= company.address %>
  </p>

  <ul>
    <h2>Teams</h2>

    <% @teams.each do |t| %>
      <li>
        <%= link_to t.name, company_team_path(@company, t) %>
      </li>
    <% end %>
  </ul>

  <% if action_name != "show" %>
    <%= link_to "Show this company", company_path(@company), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this company", edit_company_path(@company), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
