<!DOCTYPE html>
<html>
  <head>
    <title>ProjectxRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main>
      <%= render "layouts/shared/dashboard/sidebar" %>
      <%= render "layouts/shared/dashboard/navigation" %>

      <section class="relative mt-24 ml-28 mr-4 flex h-screen flex-col overflow-x-hidden md:ml-64">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </section>
    </main>
  </body>
</html>
